<head>
    <title>
        <%= title || "Magyarország Atlasz" %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- Globális CSS -->
    <link rel="stylesheet" href="/landed/assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="/landed/assets/css/noscript.css" />
    </noscript>

    <script src="/landed/assets/js/jquery.min.js" defer></script>
    <script src="/landed/assets/js/jquery.scrolly.min.js" defer></script>
    <script src="/landed/assets/js/jquery.dropotron.min.js" defer></script>
    <script src="/landed/assets/js/jquery.scrollex.min.js" defer></script>
    <script src="/landed/assets/js/browser.min.js" defer></script>
    <script src="/landed/assets/js/breakpoints.min.js" defer></script>
    <script src="/landed/assets/js/util.js" defer></script>
    <script src="/landed/assets/js/main.js" defer></script>

</head>