<header id="header">
    <nav id="nav">
        <ul>
            <li><a href="/landed">Kezdőlap</a></li>
            <li class="current"><a href="/varosok">Adatbázis</a></li>
            <li><a href="/contact">Kapcsolat</a></li>
            <li><a href="/crud">crud</a></li>
            <li><a href="/messages">üzenetek</a></li>
        </ul>
    </nav>
</header>
